<?xml version="1.0" encoding="UTF-8"?>
<pazpar2 xmlns="http://www.indexdata.com/pazpar2/1.0">

<server>
  <listen port="9004"/>
  <proxy host="us1.indexdata.com"/>
  <settings src="../etc/settings"/>

  <service>
    <metadata name="url" merge="unique"/>
    <metadata name="title" brief="yes" sortkey="skiparticle" merge="longest" rank="6"/>
    <metadata name="isbn"/>
    <metadata name="date" brief="yes" sortkey="numeric" type="year" merge="range"
	    termlist="yes"/>
    <metadata name="author" brief="yes" termlist="yes" merge="longest" rank="2"/>
    <metadata name="subject" merge="unique" termlist="yes" rank="3"/>
    <metadata name="id"/>
    <metadata name="lccn" merge="unique"/>
    <metadata name="description" merge="longest" rank="3"/>
  </service>
</server>

<targetprofiles type="local" src="../zeerex/records/"/>

<retrievalprofile>
  <requestsyntax>marc21</requestsyntax>
  <nativesyntax name="iso2709" format="marc21" encoding="marc8s" mapto="marcxml"/>
  <map type="xslt" stylesheet="marc21.xsl"/>
</retrievalprofile>

</pazpar2>
