<?xml version="1.0" encoding="UTF-8"?>
<pazpar2 xmlns="http://www.indexdata.com/pazpar2/1.0">
  <!-- threads is non-zero to enable threaded operation -->
  <threads number="0"/>
  <file path=".:/usr/share/pazpar2/xsl"/>
  <server>
    <listen port="8004"/>
    <!-- character set mapping.. This can be overriden in services -->
    <icu_chain id="relevance" locale="en">
      <transform rule="[:Control:] Any-Remove"/>
      <tokenize rule="l"/>
      <transform rule="[[:WhiteSpace:][:Punctuation:]`] Remove"/>
      <casemap rule="l"/>
    </icu_chain>
    <icu_chain id="sort" locale="en">
      <transform rule="[[:Control:][:WhiteSpace:][:Punctuation:]`] Remove"/>
      <casemap rule="l"/>
    </icu_chain>
    <icu_chain id="mergekey" locale="en">
      <tokenize rule="l"/>
      <transform rule="[[:Control:][:WhiteSpace:][:Punctuation:]`] Remove"/>
      <casemap rule="l"/>
    </icu_chain>
    <!-- default rule if not facetrule is defined on meta-data element -->
    <icu_chain id="facet" locale="en">
      <transliterate>[[:WhiteSpace:][,.-]]* } [$] > ;</transliterate>
    </icu_chain>
    <!-- Specific facet rule -->
    <icu_chain id="facet-subject" locale="en">
      <transliterate>[[:WhiteSpace:][,.-]]* } [$] > ;</transliterate>
    </icu_chain>
    <include src="services-enabled/*.xml"/>
  </server>
</pazpar2>
<!-- Keep this comment at the end of the file
     Local variables:
     mode: nxml
     End:
-->
