Source: pazpar2
Section: net
Priority: extra
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Build-Depends: debhelper (>= 5), autotools-dev, libyaz3-dev, 
 libicu36-dev | libicu-dev, docbook-xsl
Standards-Version: 3.7.2

Package: pazpar2
Architecture: any
Depends: ${shlibs:Depends}
Description: High-performance metaseacher
 Pazpar2 is a high-performance, user interface-independent, data
 model-independent metasearching middleware featuring merging, relevance
 ranking, record sorting, and faceted results.
 .
 This package includes the pazpar2 daemon, manpages for it and a init
 service which, by default, makes Pazpar2 operate as HTTP server on port
 8004.

Package: pazpar2-js
Architecture: all
Depends: apache2.2-common
Description: Java Script utilities
 Pazpar2 is a high-performance, user interface-independent, data
 model-independent metasearching middleware featuring merging, relevance
 ranking, record sorting, and faceted results.
 .
 This package includes the Java Script library pz2.js. It also adds an
 Alias for Apache2 so that this library and other demo portals are
 available.

Package: pazpar2-doc
Section: doc
Architecture: all
Description: Documentation for Pazpar2 metasearcher
 Pazpar2 is a high-performance, user interface-independent, data
 model-independent metasearching middleware featuring merging, relevance
 ranking, record sorting, and faceted results.
 .
 This packages includes HTML documentation for Pazpar2.

Package: pazpar2-apache2
Architecture: all
Depends: pazpar2, apache2.2-common
Description: Apache2 configuration for Pazpar2
 Pazpar2 is a high-performance, user interface-independent, data
 model-independent metasearching middleware featuring merging, relevance
 ranking, record sorting, and faceted results.
 .
 Enables Apache 2's http_proxy so that search portals may use Pazpar2 as
 HTTP backend.

Package: pazpar2-test1
Architecture: all
Depends: pazpar2-apache2, pazpar2-js
Description: Pazpar2 portal test1
 Pazpar2 is a high-performance, user interface-independent, data
 model-independent metasearching middleware featuring merging, relevance
 ranking, record sorting, and faceted results.
 .
 This is a simple metasearch interface using Pazpar2 that is using
 Apache2 as frontend HTTP server. When installed, this service is
 available at http://host/pazpar2/test1/ .

Package: pazpar2-jsdemo
Architecture: all
Depends: pazpar2-apache2, pazpar2-js
Description: Pazpar2 demo using the pz2.js library
 Pazpar2 is a high-performance, user interface-independent, data
 model-independent metasearching middleware featuring merging, relevance
 ranking, record sorting, and faceted results.
 .
 This is a metasearch interface using Pazpar2 JavaScript library pz2.js
 library. Is available at http://host/pazpar2/jsdemo/ .
