#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without python-support

override_dh_auto_test:
	true

override_dh_auto_configure:
	dh_auto_configure -- --with-yaz=/usr/bin

override_dh_strip:
	dh_strip --dbg-package=pazpar2-dbg

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/pazpar2-doc/usr/share/doc
	mv debian/tmp/usr/share/doc/pazpar2 debian/pazpar2-doc/usr/share/doc/pazpar2-doc
# pazpar2 package
	cp etc/server.xml debian/pazpar2/etc/pazpar2/server.xml
	cp etc/default.xml debian/pazpar2/etc/pazpar2/services-available/
	cp etc/mkc.xml debian/pazpar2/etc/pazpar2/services-available/
	cp etc/services/*.xml debian/pazpar2/etc/pazpar2/services-available
	cp etc/settings/*.xml debian/pazpar2/etc/pazpar2/settings/
	cp -r etc/settings/mkc debian/pazpar2/etc/pazpar2/settings
	cp -r etc/xsl debian/pazpar2/etc/pazpar2
# pazpar2-apache2 package
	cp debian/ap2pazpar2.cfg debian/pazpar2-apache2/etc/pazpar2
# pazpar2-test1 package
	cp www/test1/index.html debian/pazpar2-test1/usr/share/pazpar2/test1/
	cp www/test1/search.js debian/pazpar2-test1/usr/share/pazpar2/test1/
# pazpar2-jsdemo package
	cp www/jsdemo/*.html debian/pazpar2-jsdemo/usr/share/pazpar2/jsdemo/
	cp www/jsdemo/*.js debian/pazpar2-jsdemo/usr/share/pazpar2/jsdemo/
	cp www/jsdemo/*.png debian/pazpar2-jsdemo/usr/share/pazpar2/jsdemo/
	cp www/jsdemo/*.css debian/pazpar2-jsdemo/usr/share/pazpar2/jsdemo/
# pazpar2-js package
	cp debian/ap2pazpar2-js.cfg debian/pazpar2-js/etc/pazpar2
	mv debian/tmp/usr/share/pazpar2/js/pz2.js debian/pazpar2-js/usr/share/pazpar2/js/

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_installdocs:
	dh_installdocs -A README
