html {
overflow-y: scroll;
}

html, body {
background-color: #5d82b7;
color: #002863;
font-family: verdana, arial, sans-serif;
font-size: small;
}

div.container {
position: relative;
width: 972px;
background-color: #ffffff;
color: #002863;
margin-left: auto;
margin-right: auto;
height: 100%;
}

img {
border: none;
}

div.topbar {
background-color: #002863;
color: #ffffff;
height: 6em;
position: absolute;
left: 0px;
top: 0px;
width: 100%;
}

#logo {
position: relative;
left: 30px;
top: 24px;
}

div.topmenu {
position: absolute;
right: 0px;
top: 40px;
text-align: right;
padding-top: 4px;
padding-right: 35px;
height: 25px;
}

div.topmenu a {
color: #ffffff;
font-weight: bold;
padding-left: 5px;
}

div.search div {
position: absolute;
left: 224px;
top: 18px;
}

input.search {
background-color: #f0f0f0;
color: #002863;
border: 1px solid #a5acb2;
width: 420px;
}


input.button {
background-color: #5d82b7;
color: #ffffff;
border: 2px solid #5d82b7;
}


div.main {
width: 100%;
height: 100%;
background-color: #ffffff;
background-position: top left;
background-repeat: repeat-y;
color: #002863;
position: relative;
top: 6em;
left: 0px;
}

div.clear {
clear: both;
}

div.leftbar {
float: left;
width: 200px;
padding-left: 17px;
padding-top: 15px;
padding-right: 7px;
padding-bottom: 30px;
margin-right: 17px;
color: #000000;
height: 100%;
background-color: #f0f0f0;
}

div.content {
float: right;
width: 692px;
padding-left: 0px;
padding-right: 35px;
padding-top: 15px;
padding-bottom: 30px;
background-color: #ffffff;
color: #002863;
height: 100%;
}


a, a:visited {
color: #5d82b7;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

div.record {
padding-left: 2em;
display: block;
line-height: 1.4em;
margin-bottom: 8px;
margin-top: 0px;
text-indent: -2em;
/*
border-style: none;
border-top-style: solid;
border-width: 1px;
border-color: #f0f0f0;
*/
}

}

a.record {
}

div.results {
float: left;
font-weight: bold;
color: #000000;
}

div.detail {
background-color: #e7ecf4;
margin-top: 2px;
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
}

table {
padding: 0px;
margin: 0px;
border-collapse: collapse;
}

td.item {
width: 100px;
color: #000000;
font-weight: bold;
}

div.detail a {
background: none;
padding: 0px;
margin: 0px;
}

div.detail table {
margin-left: 40px;
}

div.pages {
float: right;
}

div.pages a {
text-decoration: underline;
}

div.pages a.select {
text-decoration: none;
font-weight: bold;
}

div.leftbar a {
display: block;
padding-left: 2.2em;
text-indent: -1em;
}

a.unselected {
background-image: url(../gfx/minus.gif);
background-position: 0px 2px;
background-repeat: no-repeat;
cursor: pointer;
}

a.selected {
background-image: url(../gfx/plus.gif);
background-position: 0px 2px;
background-repeat: no-repeat;
cursor: pointer;
}

span.green {
color: #63b05d;
font-weight: bold;
}


div.facet {
}
