Source: pazpar2
Section: unknown
Priority: extra
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: pazpar2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
